<form class="p-8" [formGroup]="vehicleForm" (ngSubmit)="onVehicleFormSubmit()">
  <h2 class="text-xl font-bold text-blue-500">Voertuiginformatie opzoeken</h2>

  <!-- SELECT VEHICLE TYPE-->
  <label class="block mt-4">
    <span class="text-gray-700" for="vehicleType">
      Van welk type voertuig wilt u voertuiginformatie opzoeken?
    </span>
    <select
      class="block w-full mt-1 rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0"
      formControlName="vehicleType"
      id="vehicleType"
      (change)="onVehicleTypeChange()"
    >
      <option value="null" disabled>Selecteer een voertuigtype</option>
      <option [ngValue]="vehicle.type" *ngFor="let vehicle of vehicles">
        {{ vehicle.type }}
      </option>
    </select>
    <div
      class="text-red-700"
      *ngFor="let validation of validationErrors.vehicleType"
    >
      <span *ngIf="hasValidationError('vehicleType', validation.type)">{{
        validation.message
      }}</span>
    </div>
  </label>

  <!-- SELECT VEHICLE SUBTYPE-->
  <label class="block mt-4">
    <span class="text-gray-700" for="vehicleSubType">
      Welk type [auto/motor/brommer] hebt u?
    </span>
    <select
      class="block w-full mt-1 rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0"
      formControlName="vehicleSubType"
      id="vehicleSubType"
      [attr.disabled]="!getVehicleSubTypes() ? true : null"
    >
      <option value="null" disabled>Selecteer een voertuigsubtype</option>
      <option [ngValue]="subType" *ngFor="let subType of getVehicleSubTypes()">
        {{ subType }}
      </option>
    </select>
    <div
      class="text-red-700"
      *ngFor="let validation of validationErrors.vehicleSubType"
    >
      <span *ngIf="hasValidationError('vehicleSubType', validation.type)">{{
        validation.message
      }}</span>
    </div>
  </label>

  <!-- INPUT LICENSE PLATE -->
  <label class="block mt-4">
    <span class="text-gray-700" for="licensePlate">
      Vul het kenteken van uw [auto/motor/brommer] in.
    </span>
    <input
      type="text"
      class="mt-1 block w-full rounded-md bg-yellow-400 border-red-400 focus:border-gray-500 focus:bg-yellow-300 focus:ring-0"
      formControlName="licensePlate"
      id="licensePlate"
      placeholder="Bijvoorbeeld AA-BB-12"
      mask="AA-AA-AA"
    />
    <div
      class="text-red-700"
      *ngFor="let validation of validationErrors.licensePlate"
    >
      <span *ngIf="hasValidationError('licensePlate', validation.type)">{{
        validation.message
      }}</span>
    </div>
  </label>

  <div class="mt-4">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      type="submit"
      (click)="onVehicleFormSubmit()"
    >
      Verzenden
    </button>
  </div>
</form>
